#sideBar.opened {
  background-color: rgb(245, 245, 245);
  width: 300px;
  transition: width 200ms;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#sideBar.closed {
  background-color: rgb(245, 245, 245);
  width: 20px;
  transition: 200ms;
}

#sideBar.closed:hover {
  width: 50px;
  transition: 200ms;
}

#sideBar.closed > .sideBarHeader > .accountSection > .accountHeader {
  background-color: inherit;
}

#sideBar.closed > .sideBarHeader > .accountSection > .accountHeader > #closeSideBarButton{
  transform: rotate(180deg)
}

#logOutButton {
  margin: auto 0.5rem 0.5rem 0.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgb(225, 232, 238);

}

#logOutButton:hover {
  background-color: rgb(214, 230, 244);
  ;
}
